.Introduction {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: #636363; }
  .Introduction-text {
    max-width: 60%; }
  .Introduction-image {
    display: block;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 25%;
    min-width: 220px;
    margin-left: 7em;
    text-align: center;
    background: url(../assets/images/laptopcoding.jpg) no-repeat; }
