.ProfessionalBackground {
  animation: fadeIn 1s;
  text-align: center;
  color: #636363; }
  .ProfessionalBackground-imagecontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .ProfessionalBackground-imagecontent-image {
      display: block;
      border-radius: 5px;
      margin-left: 25px; }
      .ProfessionalBackground-imagecontent-image-Michigan {
        margin-left: 0; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
