.Recruit-resumediv {
  text-align: center; }

.Recruit-resume {
  width: 130px;
  height: 129px;
  border: 0;
  background-color: transparent; }

.Recruit-content {
  text-align: left;
  color: #636363;
  font-size: 16px;
  margin-top: 40px; }
